body {
  margin: 0;
  padding: 0;
  background: url("img/Sport_bg.jpg") center/cover no-repeat fixed;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
p {
  font-family: "Open Sans", sans-serif;
  color: rgb(255, 255, 255);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.678);
  padding: 20px;
  border-radius: 10px;
  color: white;
}
.nav-title {
  margin: 0; /* Remove default margin for h1 */
  float: left;
}
.title {
  transition: text-shadow 0.3s ease; /* Add transition for smooth effect */
}

.title:hover {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8); /* Add a glow effect on hover */
  cursor: default;
}
.section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.678);
}

.welcome {
  font-size: 50px;
}
.content {
  text-align: center;
}
h3 {
  color: white;
  font-size: 2em; /* Adjust the font size as needed */
  margin-bottom: 10px; /* Add some margin to separate from the content */
}

p {
  color: white;
  font-size: 1.2em; /* Adjust the font size as needed */
}
.horizontal-nav {
  list-style-type: none;
  padding: 0;
  margin: 0; /* Remove default margin for ul */
  display: flex;
}

.horizontal-nav li {
  margin: 0 10px;
}

.horizontal-nav a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
}
